# dependencies
**node_modules
jspm_packages
/.pnp
.pnp.js
.npm

# testing
/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules
